In [1]:
x=5
y=5.5
f=6+5j
z='hello world'
a=[3,6,7,'hi',[5,3]]
b=(9,4,6,'x',5.6)
c={3,5,'hi',7.3}
d={'name':'amany','age':36,'faculty':'engineering'}

In [2]:
nx=x*5
ny=y*5
nf=f*5

In [3]:
nx

25

In [4]:
ny

27.5

In [5]:
nf

(30+25j)

In [6]:
y-=x

In [7]:
y

0.5

In [8]:
year=int(input('enter the year in 4 digit format: '))
if (year % 4 == 0):
     print("It's a leap year")
else:
     print("It's not a leap year")

enter the year in 4 digit format:

ValueError: invalid literal for int() with base 10: ''

In [9]:
def categorize_elements(mixed_list):
    integers = []
    floats = []
    strings = []
    
    for element in mixed_list:
        try:
            if isinstance(element, int):
                integers.append(element)
            elif isinstance(element, float):
                floats.append(element)
            elif isinstance(element, str):
                strings.append(element)
            else:
                print(f"Unexpected type: {type(element)}")
        except Exception as e:
            print(f"Error occurred: {e}")
    
    return integers, floats, strings

In [10]:
mixed_list = [1, 3.14, 'hello', 42, 'world', 2.71, 100, 'python', None]
integers, floats, strings = categorize_elements(mixed_list)
print("Integers:", integers)
print("Floats:", floats)
print("Strings:", strings)

Unexpected type: <class 'NoneType'>
Integers: [1, 42, 100]
Floats: [3.14, 2.71]
Strings: ['hello', 'world', 'python']

In [11]:

levels = 10

# Initialize the triangle with an empty list
triangle = []

# Generate Pascal's Triangle
for i in range(levels):
    # Create a row with the correct number of elements (i + 1)
    row = [1] * (i + 1)
    
    # Calculate the values of the row based on the values from the previous row
    for j in range(1, i):
        row[j] = triangle[i - 1][j - 1] + triangle[i - 1][j]
    
    # Add the row to the triangle
    triangle.append(row)

# Print Pascal's Triangle
for row in triangle:
    # Print each row centered relative to the width of the last row
    print(' '.join(map(str, row)).center(levels * 2))

         1
        1 1
       1 2 1
      1 3 3 1
     1 4 6 4 1
   1 5 10 10 5 1
  1 6 15 20 15 6 1
1 7 21 35 35 21 7 1
1 8 28 56 70 56 28 8 1
1 9 36 84 126 126 84 36 9 1

In [12]:
num= input("Enter the number to calculate its factorial: ")

if num.isdigit():
    num_new = int(num)
    
    if num_new < 0:
        print("Please enter a positive number.")
    else:
        factorial = 1
        
        for i in range(1, num_new + 1):
            factorial *= i
        
        print(f"The factorial of {num_new} is {factorial}.")
else:
    print("Please enter number.")

Enter the number to calculate its factorial: 5
The factorial of 5 is 120.

In [13]:
start = 1
end = 50

for num in range(start, end + 1):
    if num % 3 == 0 or num % 5 == 0:
        continue

    if num <= 1:
        continue  
    is_prime = True
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            is_prime = False
            break
    
    if is_prime:
        print(num)

2
7
11
13
17
19
23
29
31
37
41
43
47

#task Two

In [14]:
class BankAccount:
    def __init__(self, account_number, balance, account_holder_name):
        self.account_number = account_number
        self.balance = balance
        self.account_holder_name = account_holder_name

    def deposit(self, amount):
        if amount <= 0:
            print("Deposit amount must be greater than zero.")
            return
        self.balance += amount
        print(f"Deposited ${amount}. New balance is ${self.balance}.")

    def withdraw(self, amount):
        if amount <= 0:
            print("Withdrawal amount must be greater than zero.")
            return
        if amount > self.balance:
            print("Insufficient funds for this withdrawal.")
            return
        self.balance -= amount
        print(f"Withdrew ${amount}. New balance is ${self.balance}.")

    def check_balance(self):
        print(f"Account Number: {self.account_number}")
        print(f"Account Holder: {self.account_holder_name}")
        print(f"Current Balance: ${self.balance}")

In [15]:
account = BankAccount(account_number="234", balance=100, account_holder_name="Amany Ibrahim")

In [16]:
account.check_balance()

Account Number: 234
Account Holder: Amany Ibrahim
Current Balance: $100

In [17]:
account.deposit(300.0)

Deposited $300.0. New balance is $400.0.

In [18]:
account.withdraw(200.0)

Withdrew $200.0. New balance is $200.0.

In [19]:
account.withdraw(2000.0)

Insufficient funds for this withdrawal.

In [20]:
account.deposit(100.0)

Deposited $100.0. New balance is $300.0.

In [21]:
account.check_balance()

Account Number: 234
Account Holder: Amany Ibrahim
Current Balance: $300.0

In [22]:
account1 = BankAccount(account_number="555", balance=7653.0, account_holder_name="amany ibrahim")
account2 = BankAccount(account_number="000", balance=7550.0, account_holder_name="ali ibrahim")

In [23]:
print("\nDepositing to account1:")
account1.deposit(200.0)

Depositing to account1:
Deposited $200.0. New balance is $7853.0.

In [24]:
print("\nWithdrawing from account1:")
account1.withdraw(100.0)

Withdrawing from account1:
Withdrew $100.0. New balance is $7753.0.

In [25]:
print("\nAttempting to withdraw more than available balance from account1:")
account1.withdraw(2000.0)

Attempting to withdraw more than available balance from account1:
Withdrew $2000.0. New balance is $5753.0.

In [26]:
print("\nAttempting to deposit invalid amount to account1:")
account1.deposit(-50.0)

Attempting to deposit invalid amount to account1:
Deposit amount must be greater than zero.

In [27]:
print("\nChecking balance for account2:")
account2.check_balance()

Checking balance for account2:
Account Number: 000
Account Holder: ali ibrahim
Current Balance: $7550.0

In [28]:
print("\nDepositing to account2:")
account2.deposit(100.0)

Depositing to account2:
Deposited $100.0. New balance is $7650.0.

In [29]:
print("\nWithdrawing from account2:")
account2.withdraw(50.0)

Withdrawing from account2:
Withdrew $50.0. New balance is $7600.0.

In [30]:
print("\nAttempting to withdraw more than available balance from account2:")
account2.withdraw(600.0)

Attempting to withdraw more than available balance from account2:
Withdrew $600.0. New balance is $7000.0.

In [31]:
print("\nAttempting to deposit invalid amount to account2:")
account2.deposit(0.0)

Attempting to deposit invalid amount to account2:
Deposit amount must be greater than zero.

In [32]:


class SavingsAccount(BankAccount):
    def __init__(self, account_number, balance, account_holder_name, interest_rate):
        super().__init__(account_number, balance, account_holder_name)
        self.interest_rate = interest_rate  # Interest rate as a percentage

    def calculate_interest(self, years):
        if years <= 0:
            print("Number of years must be greater than zero.")
            return
        interest = self.balance * (self.interest_rate / 100) * years
        print(f"Interest over {years} year(s) at {self.interest_rate}%: ${interest:.2f}")
        return interest

In [38]:
savings_account = SavingsAccount(account_number="456", balance=54325.0, account_holder_name="Test Name", interest_rate=3.0)

In [39]:
savings_account.check_balance()

Account Number: 456
Account Holder: Test Name
Current Balance: $54325.0

In [40]:
savings_account.deposit(500.0)

Deposited $500.0. New balance is $54825.0.

In [41]:
print("\nWithdrawing from savings_account:")
savings_account.withdraw(100.0)

Withdrawing from savings_account:
Withdrew $100.0. New balance is $54725.0.

In [42]:
print("\nCalculating interest:")
savings_account.calculate_interest(3)

Calculating interest:
Interest over 3 year(s) at 3.0%: $4925.25

4925.25

In [44]:
class LoanAccount:
    def __init__(self, loan_number, loan_amount, loan_holder_name):
        self.loan_number = loan_number
        self.loan_amount = loan_amount
        self.loan_holder_name = loan_holder_name

    def calculate_loan_interest(self, interest_rate, years):
        if years <= 0:
            print("Number of years must be greater than zero.")
            return
        loan_interest = self.loan_amount * (interest_rate / 100) * years
        print(f"Loan interest over {years} year(s) at {interest_rate}%: ${loan_interest:.2f}")
        return loan_interest

    def display_loan_details(self):
        print(f"Loan Number: {self.loan_number}")
        print(f"Loan Holder: {self.loan_holder_name}")
        print(f"Loan Amount: ${self.loan_amount}")
class SavingsLoanAccount(SavingsAccount, LoanAccount):
    def __init__(self, account_number, balance, account_holder_name, interest_rate, loan_number, loan_amount):
        SavingsAccount.__init__(self, account_number, balance, account_holder_name, interest_rate)
        LoanAccount.__init__(self, loan_number, loan_amount, account_holder_name)

In [45]:
savings_loan_account = SavingsLoanAccount(
    account_number="45736", 
    balance=746.0, 
    account_holder_name="name name", 
    interest_rate=10.0, 
    loan_number="4443", 
    loan_amount=433.0
)

In [46]:
print("\nChecking balance and loan details for savings_loan_account:")
savings_loan_account.check_balance()
savings_loan_account.display_loan_details()

Checking balance and loan details for savings_loan_account:
Account Number: 45736
Account Holder: name name
Current Balance: $746.0
Loan Number: 4443
Loan Holder: name name
Loan Amount: $433.0

In [47]:
print("\nDepositing to savings_loan_account:")
savings_loan_account.deposit(500.0)

Depositing to savings_loan_account:
Deposited $500.0. New balance is $1246.0.

In [48]:
print("\nWithdrawing from savings_loan_account:")
savings_loan_account.withdraw(200.0)

Withdrawing from savings_loan_account:
Withdrew $200.0. New balance is $1046.0.

In [49]:
print("\nCalculating interest on savings:")
savings_loan_account.calculate_interest(2)

Calculating interest on savings:
Interest over 2 year(s) at 10.0%: $209.20

209.20000000000002

In [50]:
print("\nCalculating loan interest:")
savings_loan_account.calculate_loan_interest(6.0, 2)

Calculating loan interest:
Loan interest over 2 year(s) at 6.0%: $51.96

51.96